html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  /* background-color: blue; */
}

#twodee {
  /* width: 100%; */
  /* height: 100%; */
  /* background-color: green; */
  position: fixed;
  /* left: 0; */
  /* top: 0; */
  /* width: 100%; */
  /* height: 100%; */
}
